<!-- BUTTON MODAL -->
<button type="button" (click)="showModalDialog()" pButton icon="pi pi-pencil" label="" class="ui-button-success"></button>
<!-- MODAL -->
<p-dialog header="Confirm" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <form novalidate  #teamsForm="ngForm" class="mt-4">
        <div class="ui-fluid">
            <div class="p-field">
                <label for="firstname1">Equipment</label>
                <input id="firstname1" class="form-input" type="text" pInputText name="city" [(ngModel)]="teams.equipment" required>
            </div>
            <div class="p-field">
                <label for="lastname2">Ligue</label>
                <input id="lastname2" type="text" class="form-input" pInputText name="country" [(ngModel)]="teams.ligue" required>
            </div>
            <div class="p-field">
                <label for="lastname3">Contry</label>
                <input id="lastname3" type="text" class="form-input" pInputText name="continent" [(ngModel)]="teams.country" required>
            </div>
        </div>
        <p-footer class="textt-end">
            <button type="button" pButton icon="pi pi-times" (click)="closedModal()" label="Cancel"
                class="ui-button-secondary mt-4">
            </button>
            <button type="button" pButton icon="pi pi-check" (click)="updateTeam()" label="Update" class="ml-3 ui-button-success" [disabled]="!teamsForm.valid"></button>
        </p-footer>
    </form>
</p-dialog>